/*
 * Tatiana Kerick - Portfolio Site
 * Author: Tatiana Kerick 2015
 * Version 2.0
*/

/* BODY SETTINGS
-------------------------------*/
body {
	background: linear-gradient(
      rgba(79, 50, 50, 0.50), 
      rgba(79, 50, 50, 1)
    ), url(../assets/img/polygon.jpg);
	background-size: 100%;

}

img {
	/*margin-top: 80px;*/
	position: relative;
	top: 230px;
}

#left {
	margin-top: 108px;
	text-align: left;
}

#left h2 {
	color: #999;
}

#left p {
	font-size: 20px;
	color: #999;
}

#right {
	margin-top: 100px;
}

#right h3 {
	color: #999;
	text-align: left;
}

#right h3 a {
	color: #cdcdcd;
}

#right .button {
	background: #A3626A;
}

#right .button:hover {
	background: #76444A;
}


.button {
	font-size: 1.2em;
}

@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {
	/* max-width 640px, mobile-only styles, use when QAing mobile issues */
	body {
		background: linear-gradient(
      rgba(36, 25, 25, 0.50), 
      rgba(79, 50, 50, 1)
    ), url(../assets/img/polygons/1.jpg);
		background-size: 300%
	}
} 

@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
	body {
		background-size: 200%
	}
} 







