/* Body styles
---------------------------------------*/
body {
	background: linear-gradient(
      rgba(67, 50, 79, 0.5), 
      rgba(14, 13, 35, 0.6)
    ), url(../assets/img/bg.png);
    background-size: 100%;
    background-attachment: fixed;
}


/* Repeating Styles
---------------------------------------*/

.section {
	margin-top: 90px;
}

h2 {
	/*background-color: rgba(0, 0, 0, 0.03);*/
	-webkit-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.15);
	margin-bottom: 20px;
}

h2 span {
	color: ;
}

.row {
	margin-bottom: 30px;
}


/* Intro 
---------------------------------------*/
#intro {
	display: block;
	height: 500px;
}

#logo {
	position: relative;
	top: 260px;
}

#tagImg img {
	top: 230px;
	position: relative;
}

.h3 {
	margin-top: 50px;
	color: #7b7b9c;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.12);
	margin-right: 15px;
}



/* About me
---------------------------------------*/
#aboutme {
	margin-top: 240px;
}


.circleImg {
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	position: relative;
}

#test {
	width: 150px;
	height: 150px;
	background: url(../assets/img/circleimg/lights.jpg) no-repeat;
	left: 282px;
}

#me {
	width: 300px;
	height: 300px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(../assets/img/circleimg/me.jpg) no-repeat;
	top: -173px;
}

#computer {
	width: 250px;
	height: 250px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(../assets/img/circleimg/computer.jpg) no-repeat;
	top: -280px;
	left: 220px;
}

#trees {
	width: 175px;
	height: 175px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(../assets/img/circleimg/trees.jpg) no-repeat;
	top: -500px;
}

#hoops {
	width: 200px;
	height: 200px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(../assets/img/circleimg/hoops.jpg) no-repeat;
	top: -546px;
	left: 100px;
}

/* Portfolio
---------------------------------------*/

.grid-block h4 {
	font-size: .9em;
	color: #333;
	background: #f5f5f5;
	margin: 0;
	padding: 10px;
	border: 1px solid #ddd;
}

.grid-block img {
	height: 193px;
}

.caption {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	background: rgba(0, 0, 0, 0.80);
	width: 98%;
	height: 100%;
}

.caption h3 .caption p {
	margin: 20px;
}

.caption h3 {
	color: #7b7b9c;
	margin: 20px 20px 10px;
}

.caption p {
	font-size: .75em;
	line-height: 1.5em;
	margin: 0 20px 15px;
	color: #c7c7d5;
}

.button {
	padding: 5px 11px;
	border-radius: 5px;
	background: #834444;
	color: #b79c9c;
	margin-right: 10px;
}

.button:hover {
	background: #5a2e2e;
}

/* Contact
---------------------------------------*/


/* Media Queries
---------------------------------------*/
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {
	/* max-width 640px, mobile-only styles, use when QAing mobile issues */
	body {
		background-size: 300%
	}
} 

@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
	body {
		background-size: 200%
	}
} 