/* Variables and mixins
---------------------------------------*/
/* Colors */
$black: #000;
$charcoal: #252525;

$links: #a69faa;
$hover: #965d62;



@mixin boxshadow {
  -webkit-box-shadow: 0px 6px 24px 0px rgba(0,0,0,0.19);
  -moz-box-shadow: 0px 6px 24px 0px rgba(0,0,0,0.19);
  box-shadow: 0px 6px 24px 0px rgba(0,0,0,0.19)
};

@mixin clickable {
  color: $links;
	transition: color 0.3s ease;

  &:hover {
    color: $hover;
  };
};



/* Body styles
---------------------------------------*/
body {
	background: linear-gradient(
      rgba(135, 116, 148, 0.5), 
      rgba(43, 31, 51, 0.6)
    ), url(../assets/img/bg.jpg);
    background-size: 150%;
    background-attachment: fixed;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-weight: 200;
}

.compress { padding: 0 15%;}



/* Nav section
---------------------------------------*/
nav {
  height: 40px;
  @include boxshadow;
  background: $charcoal;

  .social {
    font-size: 1.6em;
    margin: 0 5.0%;
    @include clickable;

    &:first-child { margin-left: 0; }
  }

  .navlinks {
    margin-top: 3px;

    a {
      font-size: 1.4em;
      margin: 0 5.0%;
      @include clickable;

      &:last-child { margin-right: 0; }
    }
  }
}

/* Header
---------------------------------------*/
.header {
  width: 100%;
  height: 600px;
  background: url(../assets/img/geometry.png) no-repeat;

  padding-top: 60px;

  #logo { margin-bottom: 20px; }

  #sublogo { margin-bottom: 40px; }

  .skills {
    img { width: 50%; }
  }
}

/* About
---------------------------------------*/
.about {
  height: 400px;
  // @include translucentpurple;
  // @include boxshadow;

}


/* Portfolio
---------------------------------------*/



/* Contact
---------------------------------------*/



/* Footer
---------------------------------------*/





		





