/* COLORS
 Brown - 261617 - 83-55-58 
 Red - 5d3e4c - 93-62-77
 Purple - 4e3f69 - 78-63-106
 Grey - 55555c - 85-85-93
 Black - 000000 - 0-0-0


/* BODY STYLES
***********************************************/
@charset "utf-8";

html, body {
	width: 100%;
	height: 100%;
}

body {
	text-align: center;
	font-size: 62.5%;
}

.centerwrapper {
	margin: 0 auto;
}

/* FONT 
***********************************/

h1, h2, h3, h4, h5, a, p, span {
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif; 
}

h3 {
	font-size: 10.000em;
	font-weight: bold;
	padding-top: 5px;
	color: rgba(0, 0, 0, 0.6);
}


/* NAVIGATION 
***********************************/
.navigation {
	position: fixed;
	z-index: 1;
	top: 5px;
	width: 100%;
	height: 40px;

	background: -moz-linear-gradient(left,  rgba(0,0,0,0.06) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0.08) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.06)), color-stop(50%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0.08))); /* Chrome,Safari4+ */	
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.06) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0.08) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0.06) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0.08) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0.06) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0.08) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0.06) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0.08) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f000000', endColorstr='#14000000',GradientType=1 ); /* IE6-9 */
}

.navigation ul {
	margin: 10px 0 0 0;
}

.navigation li {
	display: inline;
	position: bottom;
	width: 10%;
	padding: 0 5% 0 5%;
	color: rgba(255, 255, 255, 0.4);
	cursor: pointer;

	font-size: 2.000em;
}

.navigation li:hover {
	color: rgba(255, 255, 255, .7);
	transition: color 0.7s ease;
}


/* SLIDES
**********************************************/

.slide {
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	position: relative;
	box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.wrapper {
	width: 960px;
	height: 200px;
	margin: 0 auto;
	position: relative;
}

.slideno {
	position: absolute;
	top: 15px;
	left: 25%;
	height: 50px;
	margin-bottom: 50px;
	font-size: 10.000em;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.3);
}

.button {
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 0px;
	left: 48%;
	background-color: #333;
	background-image: url(../assets/img/arrow.png);
}

.button:hover {
	background-color: #494949;
	cursor: pointer;
}

/* SLIDE 1
************************/
#logo {
	position: absolute;
	top: 60%;
	left: 10%;
	width: 783px;
	z-index: 9999;
}

#slide1 {
	background-color: #71464a;
	height: 600px;
	box-shadow: none;
}

#slide1 img.lang {
	opacity: 0.5;
}

/* html */
#slide1 img:nth-child(2) {
	position: absolute;
	top: 30px;
	left: 10px;
}

/* css */
#slide1 img:nth-child(3) {
	position: absolute;
	top: 50px;
	left: -65px;
}

/* bootstrap */
#slide1 img:nth-child(4) {
	position: absolute;
	top: 193px;
	left: 260px;
}

/* javascript*/
#slide1 img:nth-child(5) {
	position: absolute;
	top: 40px;
	left: -80px;
}

/* jquery */
#slide1 img:nth-child(6) {
	position: absolute;
	top: 52px;
	left: 25px;
}

/* angular */
#slide1 img:nth-child(7) {
	position: absolute;
	top: -19px;
	left: 380px;
}

/* mysql */
#slide1 img:nth-child(8) {
	position: absolute;
	top: 112px;
	left: 400px;
}

/* mongo */
#slide1 img:nth-child(9) {
	position: absolute;
	top: 680px;
	left: 150px;
}

/* php */
#slide1 img:nth-child(10) {
	position: absolute;
}

/* code igniter */
#slide1 img:nth-child(11) {
	position: absolute;
	top: 312px;
	left: 450px;
}

/* cake */
#slide1 img:nth-child(12) {
	position: absolute;
	top: 213px;
	left: 600px;
}

/* git */
#slide1 img:nth-child(13) {
	position: absolute;
	top: 354px;
	left: 670px;
}


/* SLIDE 2
************************/
#slide2 {
	background-color: #5d3e4c;
	height: 700px;
}

.content {

}

.bg {

}

.imgContainer {

}


/* SLIDE 3
************************/
#slide3 {
	background-color: #321c1f;
	background-image: url('../assets/img/visual4.png');
	background-repeat:no-repeat;
	background-position: center;
	height: 700px;
}

