/*
 * Tatiana Kerick - Portfolio Site
 * Author: Tatiana Kerick 2015
 * Version 2.0
*/

/* BODY SETTINGS
-------------------------------*/
body {
	background: linear-gradient(
      rgba(79, 50, 50, 0.50), 
      rgba(79, 50, 50, 1)
    ), url(../assets/img/polygon.jpg);
	background-size: 100%;

	text-align: center;
}

img {
	margin-top: 80px;
}

#left {
	margin-top: 20px;
	text-align: left;
}

#left h2 {
	color: #999;
	margin-left: 12%;
}

#left p {
	width: 70%;
	font-size: 20px;
	color: #999;
	margin-left: 12%;
}


#right {
	text-align: left;
	margin-top: 20px;
}

#right h3 {
	color: #999;
	text-align: left;
}

#right h3 a {
	color: #cdcdcd;
}

#right .button {
	background: #A3626A;
}

#right .button:hover {
	background: #76444A;
}







