/*
 * Tatiana Kerick - Portfolio Site
 * Author: Tatiana Kerick 2014
*/

/* BODY SETTINGS
-------------------------------*/
body {
	color: #fff;
	font-size: 18px;
	text-align: center;
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

.depth {
	display: block;
    padding: 50px;
    color: black;
    position: relative;
}

.depth:before, .depth:after {
    content: attr(title);
    padding: 50px 0 0 480px;
    color: rgba(255,255,255,.1);
    position: absolute;
}

.depth:before { top: 1px; left: 1px }
.depth:after  { top: 2px; left: 2px }

h1 {
	font-size: 60px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding: 20px 0 0 0;
	color: #fff;
}

section {
	height: 100vh;
}

/* NAVIGATION
-------------------------------*/
/* This class is added on scroll */
.fixed {
	position: fixed;
	top: 0;
	height: 70px;
	z-index: 1;
}

/* Navigation Settings */
nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	background-color: #2b2b2b;
}

nav li {
	display: inline-block;
	padding: 24px 10px;
}

nav li a {
	color: #b6b6b6;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	transition: color 0.3s ease;
}

nav li a:hover {
	color: #737474;
}

/* Regular Navigation Settings */
.regNav {
	position: absolute;
	top: 0;
	width: 100%;
	height: 70px;
	background-color: #2b2b2b;
}

.regNav li {
	display: inline-block;
	padding: 24px 10px;
}

.regNav li a {
	color: #b6b6b6;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	transition: color 0.3s ease;
}

.regNav li a:hover {
	color: #737474;
}

/* PARALLALX
-----------------------------------*/
.slide {
	position: relative;
	box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.3);
}


/* SCREEN 1
-----------------------------------*/
#screen1 {
	background-color: #826b7b;
}

#logo {
	padding: 30px 0 0 10px;
}

/* nth child is off 1*/
/*html*/
#screen1 img:nth-child(3) {
	position: absolute;
	top: 80px;
	left: 180px;
}

/* css */
#screen1 img:nth-child(4) {
	position: absolute;
	top: 287px;
	left: 350px;
}

/* jade */
#screen1 img:nth-child(5) {
	position: absolute;
	top: 183px;
	left: 480px;
}

/* bootstrap */
#screen1 img:nth-child(6) {
	position: absolute;
	top: 234px;
	left: 610px;
}

/* github */
#screen1 img:nth-child(7) {
	position: absolute;
	top: 314px;
	left: 800px;
}

/* javascript */
#screen1 img:nth-child(8) {
	position: absolute;
	top: 132px;
	left: 1015px;
}

/* jquery */
#screen1 img:nth-child(9) {
	position: absolute;
	top: 400px;
	left: 150px;
}

/* angular */
#screen1 img:nth-child(10) {
	position: absolute;
	top: 411px;
	left: 290px;
}

/* fullstack */
#screen1 img:nth-child(11) {
	position: absolute;
	top: 197px;
	left: 500px;
}

/* node */
#screen1 img:nth-child(12) {
	position: absolute;
	top: 300px;
	left: 800px;
}

/* express */
#screen1 img:nth-child(13) {
	position: absolute;
	top: 400px;
	left: 960px;
}

/* php */
#screen1 img:nth-child(14) {
	position: absolute;
	top: 172px;
	left: 1121px;
}

/* igniter */
#screen1 img:nth-child(15) {
	position: absolute;
	top: 375px;
	left: 176px;
}

/* cake */
#screen1 img:nth-child(16) {
	position: absolute;
	top: 488px;
	left: 420px;
}

/* sql */
#screen1 img:nth-child(17) {
	position: absolute;
	top: 529px;
	left: 620px;
}

/* mongo */
#screen1 img:nth-child(18) {
	position: absolute;
	top: 518px;
	left: 800px;
}

/* mongoose */
#screen1 img:nth-child(19) {
	position: absolute;
	top: 315px;
	left: 1015px;
}


/* SCREEN 2 - About
-----------------------------------*/
#about {
	background-color: #ba9e9a;
}


/* SCREEN 3 - Services
-----------------------------------*/
#services {
	background-color: #d1c5b8;
}

#services .depth:before, #services .depth:after {
    content: attr(title);
    padding: 50px 0 0 495px;
    color: rgba(255,255,255,.1);
    position: absolute;
}


/* PORTFOLIO
--------------------------------------------*/
.regBody {
	background-image: url(../assets/img/bg.png);
	width: 100%;
	height: 900px;
}

.regDepth {
	display: inline-block;
    top: 90px;
    color: black;
    position: relative;
}

.regDepth:before, .regDepth:after {
    content: attr(title);
    top: 90px;
    color: rgba(255,255,255,.1);
    position: absolute;
}

.regDepth:before { top: 1px; left: 1px }
.regDepth:after  { top: 2px; left: 2px }

span {
	font-size: 60px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding: 0 0 0 0;
	color: #fff;
}

/* CONTACT 
-------------------------------------------*/
form {
	padding: 150px 0 0 30%;
	text-align: left;

}

label {
	display: block;
}

#firstName,
#lastName {
	width: 250px;
}

input {
	width: 550px;
	height: 30px;
	border-radius: 3px;
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.3);
}

.name {
	width: 300px;
	float: left;
}

